<!DOCTYPE html>
<html lang="en">
  
  <head th:replace="~{frags/frags :: pageHead('Photos')}"></head>
  
  <body>
		
		<header th:replace="~{frags/frags :: header}"></header>
		
		<div class="container mb-5">
			
			<h1 sec:authorize="hasAuthority('SUPERADMIN')" class="text-center mb-4">SITE PHOTOS</h1>
			<h1 sec:authorize="hasAuthority('USER')" class="text-center mb-4">YOUR PHOTOS</h1>
			
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
				<div th:each="photo : ${photos}" th:object="${photo}" class="col">
					<div class="card h-100 border-0">
						<div class="card-body flex-grow-1 d-flex align-items-center justify-content-center">
							<img th:src="*{url}" class="h-100 w-100">
						</div>
						<div class="card-footer border-0 bg-transparent pt-0 pb-3">
							<h5 class="text-center m-0">[[*{title}]]</h5>
						</div>
					</div>
				</div>
			</div>
			
		</div>
    
  </body>
  
</html>
