<!DOCTYPE html>
<html lang="en">
  
  <head th:replace="~{frags/frags :: pageHead('Photos')}"></head>
  
  <body>
		
		<header th:replace="~{frags/frags :: header}"></header>
		
		<div class="container">
			
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
				<div th:each="photo : ${photos}" th:object="${photo}" class="col">
					<div class="card h-100">
						<div class="card-header">
							<img th:src="*{url}" class="card-img-top">
						</div>
						[[*{title}]]
					</div>
				</div>
			</div>
			
		</div>
    
  </body>
  
</html>
